@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: url(../public/paint.jpg);
    background-size: cover;
    color: white;
    font-size: 16px;
}

main {
  z-index: 2;
  padding: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, button, p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h1:hover {
  text-shadow: 0 0 10px white;
}

h2 {
  font-weight: lighter;
  padding-bottom: 5%;
}

button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5rem;
}

button:hover {
  box-shadow: 0 0 5px 5px white;
  transition-duration: 0.2s;
}

hr {
  opacity: 0.5;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}

#overlay {
  position: fixed;
  width: 90%;
  height: 90%;
  background-color: #1E0A1F;
  border-radius: 25px;
  opacity: 0.95;
}

#buttons {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  margin: 10px;
} 

#content {
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1.5rem;
}

#headers {
  margin-top: 20px;
}

* {
  box-sizing: border-box;
}


@media only screen and (max-width: 800px) {
  h1 {
    font-size: 5vw;
  }
  h2, button, p {
    font-size: 3vw;
  }
  #buttons {
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
  }
}

@media only screen and (max-width: 400px) {
}